<div class="ui menu">
    <div class="item"><h2 class="">CalcApp</h2></div>
    <div class="right menu">
        <%= link_to '一覧', '/', class:'item'%>
        <%= link_to '新規作成', new_usage_detail_path, class:'item'%>
    </div>
</div>
<div class="ui container">
  <h1 class="ui huge header">
    明細一覧
  </h1>
  <div class="ui container segment"">
        <div class="ui relaxed horizontal list">
            <% @usageDetails.each do |usageDetail| %>
            <div class="item">
              <div class="content">
                <%= link_to usageDetail.year+'年'+usageDetail.month+'月', usageDetail %>
              </div>
            </div>
            <% end %>
        </div>
  </div>
</div>
